<div class="chat-content">
    <div class="chat-content__header">
        <div class="header__info">
            <img class="info__image" src="{{imageUrl}}" alt="Image Url">
            <h2 class="info__name">{{name}}</h2>
        </div>
        <nav class="header__settings">
            <svg width="3" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="1.5" cy="2" r="1.5" fill="#1E1E1E"/>
                <circle cx="1.5" cy="8" r="1.5" fill="#1E1E1E"/>
                <circle cx="1.5" cy="14" r="1.5" fill="#1E1E1E"/>
            </svg>
            <div class="settings-content">
                {{#each menuItems}}
                    {{{this}}}
                {{/each}}
            </div>
        </nav>
    </div>
    <div class="chat-content__main">
        {{#each chatMessages}}
            {{{this}}}
        {{/each}}
    </div>
    {{{messageForm}}}
</div>
